<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
         body{
           background-image:url('https://i.imgur.com/h8mXKvz.jpg');  
         }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">De-Stress</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if(!curruser){ %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Signup</a></li>
        <% } else { %>
        <li><a href="">Signed in as <%= curruser.username %></a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 <div class="container">
   <% if( error && error.length>0) { %>
      <div class="alert alert-danger" role="alert"><%=error%></div>
    <% } %>  
    <% if( success && success.length>0) { %>
      <div class="alert alert-success" role="alert"><%=success%></div>
    <% } %>  
 </div>
 
 <div class="jumbotron">
  <div class="container">     
  <h1>Hello, Welcome!</h1>
  <p>The project aims at the introduction of a portal that can help the people undergoing depression . The PHQ-9 depression test gives a clear idea to the people about how much depression is the person currently under. We also provide a chat window between anonymous users so as to provide a safe way for people to express their feelings. People social media accounts and chrome history are also analysed to give a clear indication of current mental state of the person.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
      