<html>
    <title>
        
    </title>
    <body>
        <table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">tweets</th>
<th title="Field #2">status</th>
</tr></thead>
<tbody><tr>
<td> @Thatsrightnate ~ Just in case you need some help w that:  http://bit.ly/12nP1H</td>
<td>Highly Depressed</td>
</tr>
<tr>
<td> @THEDIAMONDCOACH  Im sure he&#39;d love that LOL</td>
<td>Mildly depression</td>
</tr>
<tr>
<td> @theenglishmuse on &amp;quot;Karl Lagerfeld&amp;quot; &#39;s Twitter profile(s) lol!  Heart the first pic http://tinyurl.com/cbl6tm</td>
<td>Mildly depression</td>
</tr>
<tr>
<td> @TheIanCrawford is no longer in the Cab. To say I&#39;m heartbroken is an understatement... good luck with everything! you&#39;re amazing ian.</td>
<td>Mildly depression</td>
</tr>
<tr>
<td> @va_songstress broke my twitter..</td>
<td>Highly Depressed</td>
</tr>
<tr>
<td> @warbo is off clubbing... must come over to sheffield sometime &amp;amp; party but really probably shouldn&#39;t atm. a tech conference is a conf etc</td>
<td>Slightly Depressed</td>
</tr>
<tr>
<td> @weselec My avatar can&#39;t figure out what you people are, either. http://tr.im/jj70</td>
<td>Highly Depressed</td>
</tr>
<tr>
<td> @xxkirahxx is fulfilling my life&#39;s ambition 2 go 2 a Jonas Brothers concert + I went 2 HMV and the new album is already sold out! Why me?</td>
<td>Slightly Depressed</td>
</tr>
</tbody></table>
    </body>
</html>
